<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/background.jpg" alt="..." />
        </div>
        <div class="content">
          <div class="author">
            <img class="avatar border-white" src="{{ model.foto }}" alt="..." />
            <h4 class="title">{{ model.nome }}<br /></h4>
          </div>
          <p class="description text-center">
            {{ model.descricao }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
